
#Buttons input{
    font-weight: bold;
    color:white;
    
    padding: 10px 20px;
    margin: 10px 10px;

    box-shadow: 2px 2px 4px #000000;
    background-color: rgba(238, 17, 17, 0.986);
}
#Create_Account_Header{
    
    margin-left: 3%;
    margin-bottom: 0%;
    font-size: 40px;
    
    text-shadow: 2px 2px 4px #000000;
  

}


#Required_Info_Header{
    color: red;
    font-size: 20px;
}

#radio_button_container{
    display: block;

    width: 60%;
    text-align: left;
    border: solid;
    border-radius: 6px;
    
    margin-left: 15%;
}

#radio_button_container li {
    list-style-type: none; 
 }

body{
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 0%;
    background-color: grey;
}



#Job_Duty textarea{
    display: block;
    position: relative;
    left: 15%;

}

#Site_Title{

    font-size: 50px;
   
    padding-bottom: 50px;
    padding-top: 25px;
    padding-left: 20px;
    
   margin-bottom: -40px;
   
    color:white;
    background-color: red;

    border-radius: 25px;
    text-shadow: 2px 2px 4px #000000;
}



#Create_Account{
    
    

    background-color:white;
    height: 200x;
    padding: 10px 10px;
   
    border-radius: 0px 0px 25px 25px;
}

form{
    background-color: white;
    margin: 20px 20px;
   
    
}

label{

    display: inline-block;
    width: 140px;
    text-align: right;
}

input[type = "text"], input[type = "password"], select {
   
    width: 60%;
    margin: 1% 1%;

}

input[type= "textarea"] {
  
    width: 600px;
    height: 150px;
  }

  input, select, textarea{
    border: solid;
    border-radius: 6px;
  }

  input[type= "file"] {
  
    margin-left: 70px;
    width: 80%;
  }


 #Attachments label{ 

    display: inline-block;
    width: 10px;
   
}

#Attachments{
    padding: 5% 5%;
    padding-left: 15%;
}





i{
    color: red;
}

.Div_Title{
    background-color: rgba(216, 203, 203, 0.925);
    padding: 10px 10px;
    margin-bottom: 0px;
}


#Basic_Information, #Education, #Work_Experience, #Attachments{
    background-color: rgba(228, 224, 224, 0.945);
    margin-bottom: 10px;
   
}

#Buttons{
    text-align:center;
}

.Err_Msg{
    width: 100%;
    height: 100%;
    position: relative;
    left: 12%;
    font-size: 12px;
    text-align: left;
    padding-left: 60px;
}


